doctype html
head
  meta(charset='UTF-8')
  title Card Game
  // Bootstrap css and java scripts
  link( rel="icon" href="/images/back_cards-07.png")
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')
  link(rel="stylesheet" href="/css/play.css")
  script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js' integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n' crossorigin='anonymous')
  script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js' integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6' crossorigin='anonymous')
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
  body
    .left
      h2 Players List
      h2#roomCode(style="display:none") #{roomCode}
      h2#admin(style="display:none") #{admin}
      hr
      ul#livedata.list-group
      .container
        h2 Scoreboard
        hr
        .row
          .col
            ul#players.list-group
          .col
            ul#score.list-group
          if(admin)
            .col#scoreManage
        if(admin)
          button.btn.btn-success#send(type='submit' onclick="send()") Send Score
                
    .right
      hr
      if(admin)
        .container
          button.btn.btn-success#start(type='submit' onclick="clearScoreboard()") Start New Game
          button.btn.btn-danger#end(type='submit' onclick="endGame()") End Game
          button.btn.btn-success#startSame(type='submit' onclick="start()") Start Game with same Scoreboard
          
      else
        h5#waitingMsg Please wait until admin starts the game
      
      button.btn.btn-info#declare(style="position:absolute;bottom:20px;left:15%;" type='submit' onclick="declare()") Declare 

      #playCorner(style="position:absolute;bottom:320px;right:400px;")
      .container#pointSection(style="position:absolute;bottom:20px;left:10px;width:120px")        
        h6(style="text-align: center;") Points
        h1#pointsLive(style="border:5px solid black;text-align: center;")
      #imgStack(style="position:absolute;bottom:20px;right:20px;")
      #snackbar
    script(src='/socket.io/socket.io.js')
    script(src='/js/declare.js')
      



      