head
  title Card Game
  link( rel="icon" href="/images/back_cards-07.png")
style.
    body{
    background-color:grey;
    align-items: center;
    justify-content: center
    }
    h1{
        position: fixed;
        top: 40%;
        left: 35%;
        font-size:40px;
    }
    
body  
    h1 404 PAGE NOT FOUND                              
