body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.img {
  background-image: url("/images/back.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.left {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  left: 0;
  background-color:lightgray;
}
h2,h5{
  text-align: center;
  color: black;
}
ul{
  color: black;
  text-align: center;
  font-size: 18px;
}
.container{
  align-items: center;
  left: -50%;
}
.right {
  height: 100%;
  width: 80%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  right: 0;
  background-color: white;
}
img:hover{
  transform: translateY(-30px);
  cursor: pointer;
}

.left .container{
  bottom: 10px;
  left: 10px;
  position: absolute;
  width: 90%;
  border: solid 5px black;
  align-items: center;
}
.left .container .row .col ul{
  text-decoration: none;
  list-style-type: none;
  margin-bottom: 5px;
}
hr{
  border-top: 1px solid black;;
}

input[type=number] {
  width: 100%;
  height:27px;
}

#send{
  margin:10px;
  align-items: center;
  left: 50%;
}
button{
  margin:5px;
}